  /*----- Base.html -----*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav{
      box-shadow: inset 0px -3px 6px 2px rgba(99, 8, 8, 0.15);
      height: 10vh;
      min-height: 65px;
  }

  .nav-wrapper{
      display: flex;
  }

  nav ul {
      display: flex;
      flex: 1;
      justify-content: center;
  }

  nav ul li{
      padding: 0 5%;
  }

  .brand-logo {
      height: 100%
  }

  #nav-logo{
      height: inherit;
      padding: 7px;
  }

  .sidenav-trigger{
      display: flex;
      flex: 2;
      justify-content: flex-end;
  }

  .sidenav ul{
      box-shadow: inset 6px 3px 15px 3px rgb(0 0 0 / 15%);
  }

  .sidenav li{
      margin-top: 25px;
      text-align: center;
  }

  .sidenav li a{
      font-size: 22px;
      color: white;
  }

/* Footer */

  .page-footer{
      box-shadow: inset 0px 3px 6px 2px rgba(0, 0, 0, 15%);
      padding: 30px 0px;
  }

  #footer-container{
      text-align: center;
      line-height: 1; /* Vertically aligns items */
  }
  
  #footer-row{
      margin-bottom: 0px; /* Overrides Materialize default */
  }

  .footer-icon{
      padding: 0px 8px;
      color: white;
  }

  /* Hover effects.*/
  
  nav ul a:hover, .sidenav li a:hover{
    background-color: transparent;
  }

  nav ul li a:hover, .sidenav li a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #545454;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  /* Modified .hvr classes originally sourced from hover.css by Ian Lunn */
  .hvr-rotate { 
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  .hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    color: #545454   ;
  }

  .hvr-grow-shadow {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /*----- Index.html -----*/

  #home{
    display: flex;
    height: 60vw;
    min-height: 450px;
  }

  #home-container{
    width: 90vw!important; /* remove? */
    max-width: 1400px;
    margin: auto;
    text-align: center;
  }

  #home-logo{
    width: 50%;
    max-width: 200px;
  }

  #home-heading{
    margin-bottom: 20px;
  }

  #home-heading h1{
    font-size: 21px;
    padding: 0 5vw;
  }

  .register-buttons{
    padding: 7px 20px;
    border: 1px solid #545454;
    border-radius: 30px;
    background-color: #d75a5a;
    text-decoration: none;
    color: white;
  }

  #register-button-1{
    font-size: 3.7vw;
  }

  #about{
    background-color: #4db6ac;
  }

  #instructions-row{
    text-align: center;
    margin: 0 2.5vw;
    padding: 30px 0;
    color: white;
  }

  .fa-user-check, .fa-handshake, .fa-pen-fancy, .fa-mail-bulk{
    font-size: 40px;
  }

  #instructions-row span{
    padding: 0 3px;
  }

  #about-row{
    text-align: center;
  }

  #letters-img{
    width: 40%;
    max-width: 130px;
    vertical-align: middle;
  }

  #aboutus-container{
    padding: 0 40px;
    color: white;
  }

  #discover .container{
    text-align: center;
  }

  .carousel .carousel-item{
    top: -19%;
  }

  #discover .container{
    padding: 0 6px;
    margin-bottom: 40px;
  }

  #discover h2, #aboutus-container h2{
    font-size: 20px;
  }

  #discover .container p, #register-button-2{
    font-size: 15px;
  }

  /*----- Register.html -----*/

  #registration{
    height: 85vh;
    min-height: 380px;
    width: 100vw;
  }

  #form-container{
    margin-top: 50px;
    padding: 25px;
    border: 1px solid #545454;
    border-radius: 15px;
  }

  .form-page{
    display: none;
  }

  .form-page label {
    font-size: 14px;
    color: #545454;
  }

  input[type=text]:not(.browser-default), input[type=password]:not(.browser-default) {
    border-bottom: 1px dashed #545454;
    font-size: 13px;
    margin: 0;
  }

  .input-field{
    margin-bottom: 0;
  }

  .invalid {
    border-bottom: 2px solid #ff7575!important;
    box-shadow: none!important;
  }

  .valid{
    border-bottom: 2px solid #4db6ac!important;
    box-shadow: none!important;
  }

  #gender-input{
    position: relative;
    top: 25px;
  }

  textarea.materialize-textarea{
    max-height: 100px;
    min-height: 90px;
    font-size: 13px;
    overflow-y: scroll;
  }

  #indicator-container{
    text-align:center;
  }

  .indicator {
    color: rgb(216, 76, 94);
    font-size: 16px;
    margin: 0 5px;
    display: inline-block;
  }
  
  .indicator.finish {
    background-color: transparent;
    color: #2dad95;
  }

  #form-button-container{
    overflow: auto;
  }

  #prevBtn, #nextBtn {
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: #545454;
  }

  #nextBtn{
    float: right;
  }

  #complete-form{
    border: 1px solid #454545;
    color: white;
    background-color: #545454;
    padding: 3px 4px;
    font-size: 15px;
  }

  /* envelope */
  .envelope{
    width:250px;
    height:140px;
    background-color:#3c8f86;
    margin: auto;
    position:relative;
    top: 50%;
    transform: translateY(-30%);
    z-index:1;
  }
  .envelope:before{
    content:"";
    top:0;
    right:0;
    z-index:3;
    position:absolute;
    border-left:250px solid transparent;
    border-bottom:150px solid #4db6ac;
  }
  .envelope:after{
    content:"";
    top:0;
    left:0;
    z-index:3;
    position:absolute;
    border-right:250px solid transparent;
    border-bottom:150px solid #4db6ac;
  }
  .back{
    position:absolute;
    top:0;
    z-index:-1;
    transform-origin:top;
    border-top:75px solid #4db6ac;
    border-left:125px solid transparent;
    border-right:125px solid transparent;
    transform: rotateX(180deg); /* the open envelope flap */
  }
  .letter{
    position:relative;
    top:0;
    padding:20px 10px;
    width:200px;
    height:100px;
    overflow:hidden;
    z-index:2;
    margin: 0 auto;
    background-color:#F1EBE3;
    border: 1px solid rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  }
  
  .envelope:hover .letter, .letter-open{
    top:-130px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 60vw;
    min-width: 250px;
    z-index: 4;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out ;
  }

  /*----- Login.html -----*/

  #login{
    display: flex;
    height: 80vh;
    min-height: 300px;
    max-height: 700px;
  }

  #login-container{
    margin: auto;
  }

  #login-image{
    width: 100%;
  }

  /* Media Queries */

  @media only screen and (min-width: 601px) {

    .nav-left{
      margin-right: 15px;
    }
    .nav-right{
      margin-left: 15px;
    }

    #home-logo{
      width: 35%;
      max-width: 350px;
    }

    #home-heading h1{
      font-size: 25px;
      padding: 0 15vw;
    }

    #register-button-1{
      font-size: 2.1vw;
    }

    #letters-img{
      width: 25%;
      max-width: 200px;
    }

    #discover h2, #aboutus-container h2{
      font-size: 24px;
    }

    #discover .container p, #aboutus-container p {
      font-size: 17px;
    }

    #registration{
      min-height: 420px;
    }
    
    /* envelope */
    .envelope{
      width:400px;
      height:200px;
    }
    .envelope:before{
      border-left:400px solid transparent;
      border-bottom:200px solid #4db6ac;
    }
    .envelope:after{
      border-right:400px solid transparent;
      border-bottom:200px solid #4db6ac;
    }
    .back{
      border-top:100px solid #4db6ac;
      border-left:200px solid transparent;
      border-right:200px solid transparent;
    }
    .letter{
      width:350px;
      height:100px;
    }
    
    .envelope:hover .letter, .letter-open{
      height: fit-content;
      width: 350px;
      left: 0%!important;
      transform: translateX(0%)!important;
    }

    /* end of envelope */

    #complete-form{
      padding: 3px 8px;
      font-size: 18px;
    }

  }

  @media only screen and (min-width: 992px) {

    .nav-left, .nav-right{
      margin: 0px;
    }

    #home{
      height: 40vw;
      min-height: 350px;
      max-height: 600px;
    }
    
    #home-container .row {
      display: flex;
      align-items: center;
    }

    #home-logo{
      width: 60%;
      max-width: 450px;
    }

    #home-heading h1{
      font-size: 30px;
      padding: 0;
    }

    #register-button-1{
      font-size: 18px;
    }

    .fa-user-check, .fa-handshake, .fa-pen-fancy, .fa-mail-bulk{
      font-size: 50px;
    }

    #letters-img-container{
      line-height: 320px;
    }

    #letters-img{
      width: 45%;
      max-width: 400px;
    }

    #discover h2, #aboutus-container h2{
      font-size: 29px;
    }

    #discover .container p, #aboutus-container p {
      font-size: 19px;
    }

    #registration{
      min-height: 500px;
    }

    /* envelope */
    .envelope{
      width:500px;
      height:300px;
    }
    .envelope:before{
      border-left:500px solid transparent;
      border-bottom:300px solid #4db6ac;
    }
    .envelope:after{
      border-right:500px solid transparent;
      border-bottom:300px solid #4db6ac;
    }
    .back{
      border-top:140px solid #4db6ac;
      border-left:250px solid transparent;
      border-right:250px solid transparent;
    }
    .letter{
      width:420px;
      height:200px;
    }
    
    .envelope:hover .letter, .letter-open{
      height:430px;
      width: 420px;
      left: 0%!important;
      transform: translateX(0%)!important;
    }

    /* end of envelope */

    .form-page label {
      font-size: 16px;
    }

    input[type=text]:not(.browser-default), textarea.materialize-textarea{
      font-size: 15px;
    }

  }

  @media only screen and (min-width: 1200px){

    nav ul li {
        padding: 0 10%;
    }

    #home{
      height: 35vw;
      min-height: 400px;
    }

    #register-button-1{
      font-size: 20px;
    }

  }