  /*----- Base.html -----*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav{
      background-color: #4db6ac;
      box-shadow: inset 0px -3px 6px 2px rgba(99, 8, 8, 0.15);
  }

  .page-footer{
      background-color: #4db6ac;
      box-shadow: inset 0px 3px 6px 2px rgba(0, 0, 0, 15%);
  }

  .nav-wrapper{
      display: flex;
  }

  nav ul {
      display: flex;
      flex: 1;
      justify-content: center;
  }

  .sidenav-trigger{
      display: flex;
      flex: 2;
      justify-content: flex-end;
  }

  #footer-container{
      text-align: center;
  }

  .inset-shadow{
      box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 16%);
  }

  /* Media Queries */
@media only screen and (min-width: 601px){

.sidenav-trigger{
    display: none!important; /* Hides mobile nav bar on medium devices. */
}

}