/*----- Fonts -----*/
.handlee,  input:not([type=submit]){
  font-family: 'Handlee', cursive;
}

body, .raleway{
    font-family: 'Raleway', serif;
}

.text-shadow{
    text-shadow: 2px 0.5px 3px rgba(0, 0, 0, 0.6);
}
  
  /*----- Base.html -----*/
  html{
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav{
      box-shadow: inset 0px -3px 6px 2px rgba(99, 8, 8, 0.15);
      height: 10vh;
      min-height: 65px;
  }

  .nav-wrapper{
      display: flex;
  }

  nav ul {
      display: flex;
      flex: 1;
      justify-content: center;
  }

  nav ul li{
      padding: 0 5%;
  }

  .brand-logo {
      height: 100%
  }

  #nav-logo{
      height: inherit;
      padding: 7px;
  }

  .sidenav-trigger{
      display: flex;
      flex: 2;
      justify-content: flex-end;
  }

  .sidenav ul{
      box-shadow: inset 6px 3px 15px 3px rgb(0 0 0 / 15%);
  }

  .sidenav li{
      margin-top: 25px;
      text-align: center;
  }

  .sidenav li a{
      font-size: 22px;
      color: white;
  }

/* Footer */

  .page-footer{
      box-shadow: inset 0px 3px 6px 2px rgba(0, 0, 0, 15%);
      padding: 30px 0px;
  }

  #footer-container{
      text-align: center;
      line-height: 1; /* Vertically aligns items */
  }
  
  #footer-row{
      margin-bottom: 0px; /* Overrides Materialize default */
  }

  .footer-icon{
      padding: 0px 8px;
      color: white;
  }

  /* Hover effects.*/
  
  nav ul a:hover, .sidenav li a:hover{
    background-color: transparent;
  }

  nav ul li a:hover, .sidenav li a:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  /* Modified .hvr classes originally sourced from hover.css by Ian Lunn */
  .hvr-rotate { 
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  .hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }

  .hvr-grow-shadow {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -7px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /*----- Index.html -----*/

  #home{
    display: flex;
    height: 60vw;
    min-height: 450px;
  }

  #home-container{
    width: 90vw!important;
    max-width: 1400px;
    margin: auto;
    text-align: center;
  }

  #home-logo{
    width: 50%;
    max-width: 200px;
  }

  #home-heading{
    margin-bottom: 20px;
  }

  #home-heading h1{
    font-size: 21px;
    padding: 0 5vw;
  }

  .register-buttons{
    padding: 7px 20px;
    border: 1px solid #545454;
    border-radius: 30px;
    background-color: #d75a5a;
    text-decoration: none;
    color: white;
  }

  #register-button-1{
    font-size: 3.7vw;
  }

  #about{
    background-color: #4db6ac;
  }

  #instructions-row{
    text-align: center;
    margin: 0 2.5vw;
    padding: 30px 0;
    color: white;
  }

  .fa-user-check, .fa-handshake, .fa-pen-fancy, .fa-mail-bulk{
    font-size: 40px;
  }

  #instructions-row span{
    padding: 0 3px;
  }

  #about-row{
    text-align: center;
  }

  #letters-img{
    width: 40%;
    max-width: 130px;
    vertical-align: middle;
  }

  #aboutus-container{
    padding: 0 40px;
    color: white;
  }

  #discover .container{
    text-align: center;
  }

  .carousel{
    perspective: 250px;
    -webkit-perspective: 250px;
  }

  .carousel .carousel-item{
    top: -10%;
    width: 180px;
    height: 180px;
  }

  #discover .container{
    padding: 0 6px;
    margin-bottom: 40px;
  }

  #discover h2, #aboutus-container h2{
    font-size: 20px;
  }

  #discover .container p, #register-button-2{
    font-size: 15px;
  }

  #discover .card {
    text-align: center;
    border: solid 0.5px #adadad;
    box-shadow: 0px 3px 8px #0000003d;
   /* margin-left: 20px;*/
  }

  #discover .card-image{
    background-color: rgb(255, 255, 255);
    width: inherit;
  }

  #discover .card-image img{
    width: auto;
    max-width: 160px;
    height: 140px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 15px;
    padding: 0 15px;
  }

  #discover .card-content{
    padding: 10px;
  }

  #discover .card-title{
    font-size: 16px;
    line-height: 21px;
  }

  #discover .card-content p{
    font-size: 15px;
  }

  /*----- Register.html -----*/

  .flash{
    text-align: center;
    margin: auto;
    color: rgb(216, 76, 94);
  }

  #registration{
    height: 85vh;
    min-height: 380px;
    width: 100vw;
  }

  #registration p, #login-container p{
    font-size: 11px;
  }

  #form-container{
    margin-top: 50px;
    padding: 25px;
    border: 1px solid #545454;
    border-radius: 15px;
  }

  .form-page{
    display: none;
  }

  .form-page label {
    font-size: 14px;
    color: #545454;
  }

  input[type=text]:not(.browser-default), input[type=password]:not(.browser-default) {
    border-bottom: 1px dashed #545454;
    font-size: 13px;
    margin: 0;
  }

  .input-field{
    margin-bottom: 0;
  }

  .invalid {
    border-bottom: 2px solid #ff7575!important;
    box-shadow: none!important;
  }

  .valid{
    border-bottom: 2px solid #4db6ac!important;
    box-shadow: none!important;
  }

  #gender-input{
    position: relative;
    top: 25px;
  }

  textarea.materialize-textarea{
    max-height: 100px;
    min-height: 90px;
    font-size: 13px;
    overflow-y: scroll;
  }

  #default-picture, #default-picture2{
    width: 60%;
    height: auto;
    max-height: 200px;
    position: relative;
    left: 20%;
  }

  #picture-preview-container{
    width: auto;
    height: 150px;
  }

  .picture-button{
    width: fit-content;
    background-color: #4db6ac;
    color: white;
    padding: 5px 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .default{
    display:block;
  }

  .customise{
    display: none;
  }

  #url-input, #url{
    margin: 0;
  }

  #url{
    visibility: hidden;
  }

  #indicator-container{
    text-align:center;
  }

  .indicator {
    color: rgb(216, 76, 94);
    font-size: 16px;
    margin: 0 5px;
    display: inline-block;
  }
  
  .indicator.finish {
    background-color: transparent;
    color: #2dad95;
  }

  #form-button-container{
    overflow: auto;
  }

  #prevBtn, #nextBtn {
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: #545454;
  }

  #nextBtn{
    float: right;
  }

  #complete-form{
    border: 1px solid #454545;
    color: white;
    background-color: #545454;
    padding: 3px 4px;
    font-size: 15px;
  }

  /* envelope - credit to asmaa-mohammed (See README) */
  .envelope{
    width:250px;
    height:140px;
    background-color:#3c8f86;
    margin: auto;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    z-index:1;
    box-shadow: -8px 10px 10px 0px #00000045;
  }
  .envelope:before{
    content:"";
    top:0;
    right:0;
    z-index:3;
    position:absolute;
    border-left:250px solid transparent;
    border-bottom:150px solid #4db6ac;
  }
  .envelope:after{
    content:"";
    top:0;
    left:0;
    z-index:3;
    position:absolute;
    border-right:250px solid transparent;
    border-bottom:150px solid #4db6ac;
  }
  .back{
    position:absolute;
    top:0;
    z-index:-1;
    transform-origin:top;
    border-top:75px solid #4db6ac;
    border-left:125px solid transparent;
    border-right:125px solid transparent;
    transform: rotateX(180deg); /* the open envelope flap */
  }
  .letter{
    position:relative;
    top:0;
    padding:20px 10px;
    width:200px;
    height:100px;
    overflow:hidden;
    z-index:2;
    margin: 0 auto;
    background-color:#F1EBE3;
    border: 1px solid rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  }
  
  .envelope:hover .letter, .letter-open{
    top:-130px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 60vw;
    min-width: 250px;
    z-index: 4;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out ;
  }
  /* end of envelope */

  /*----- Login.html -----*/

  #login{
    display: flex;
    height: 80vh;
    min-height: 490px;
    align-items: center;
    text-align: center;
  }

  #login-container{
    margin: auto;
  }

  #login-image{
    width: 50%;
    min-width: 150px;
    max-width: 250px;
  }

  #login-form{
    width: 70vw;
    max-width: 350px;
    margin: auto;
  }

  #login-container .btn{
    border-radius: 20px;
    margin-top: 15px;
    text-transform: none;
  }

  /*----- Profile.html -----*/

  .heading-row{
    display: flex;
    margin-bottom: 0;
  }

  .page-heading{
    margin: 20px auto;
    text-align: center;
    background-color: #4db6ac;
    color: white;
    padding: 0;
    border-radius: 5px;
  }

  .page-heading h1{
    margin: 0;
    padding: 10px;
    font-size: 17px;
  }

  #profile-row{
    background-color: #4db6ac;
    color: white;
    padding: 20px 0;
    height: auto;
  }

  #profile-right, #profile-left{
    position: relative;
    height: 100%;
  }

  #personal span, #description p{
    color: #545454;
  }

  #profile-buttons{
    height: 80px;
  }

  #profile-buttons div{
    margin-top: 40px;
  }

  #profile-buttons a{
    padding: 10px 30px;
    border: 1px solid #545454;
    border-radius: 30px;
  }

  .profile-picture{
    width: 50%;
    max-width: 250px;
    border: 6px solid #78cec6;
    border-radius: 50%;
  }

  #description{
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 0;
    word-wrap: break-word;
  }

  fieldset{
    border-style: hidden;
    border-radius: 10px;
    background-color: #78cec6;
    height: 100%;
    margin: 0 25px;
  }

  fieldset div{
    text-align: center;
  }

  fieldset h3{
    font-size: 16px;
    color: #545454;
  }

  legend {
    border-radius: 10px 5px;
    background-color: white;
    padding: 5px;
    color: #000000;
    font-size: 15px;
  }

  .modal-content, .modal-footer{
    text-align: center;
  }

  #contact-btn{
    width: 80%;
    max-width: 250px;
  }

  /*----- Members -----*/

  #member-row{
    height: fit-content;
    overflow: auto;
    background-color: #4db6ac;
  }

  #card-container{
    display: flex;
    flex-wrap: wrap;
  }

  #card-container>div{
    margin-left: 0;
  }

  #card-container img{
    height: 250px;
  }

  .card-image .btn-floating:hover{
    height: 64px;
  }

  #card-container .card{
    height: fit-content;
    width: 75vw;
    max-width: 320px;
    min-width: 250px;
    margin: 30px auto;
    overflow-x: auto;
    border: 5px outset #b4b4b4;
    border-radius: 5%;
    box-shadow: 3px 2px 5px #000000ad;
  }

  #card-container .card img{
    object-fit: cover; /* prevents images from stretching */
  }

  .btn-floating{
    width: 55px;
    height: 55px;
    line-height: 72px;
  }

  .btn-floating i{
    font-size: 39px;
  }

  #pagination-container{
    text-align: center;
  }

  .pagination li{
    height: auto;
    font-size: 20px;
    line-height: 1.3;
    margin: 0 20px;
  }

  .pagination li a {
    font-size: inherit;
  }

  .pagination li.active{
    background-color: #ff5252;
  }

  .pagination li.disabled a{
    display: none;
  }

  #search-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  #search-row .input-field, #search{
    margin-left: auto;
    margin-right: auto;
  }

  #search{
    margin-top: 1rem;
    text-align: center;
  }

  #query{
    border-bottom-color: white;
    border-bottom-style: solid;
  }

  /*----- 404.html -----*/
  #error{
    text-align: center;
    margin: 15vh auto 0 auto;
  }

  #error img{
    width: 40vw;
    max-width: 350px;
    height: auto;
  }

  #error a{
    width: fit-content;
    margin-top: 20px;
    text-transform: none;
  }
  
  /* Media Queries */

  @media only screen and (min-width: 601px) {

    .nav-left{
      margin-right: 15px;
    }
    .nav-right{
      margin-left: 15px;
    }

    nav ul{
      height: inherit;
    }

    nav ul li{
      margin-top: auto;
      margin-bottom: auto;
    }

    nav ul a {
      padding: 0;
    }

    .nav-text{
      font-size: 14px;
    }

    #home-logo{
      width: 35%;
      max-width: 350px;
    }

    #home-heading h1{
      font-size: 25px;
      padding: 0 15vw;
    }

    #register-button-1, #login-container .btn{
      font-size: 19px;
    }

    #letters-img{
      width: 25%;
      max-width: 200px;
    }

    #discover h2, #aboutus-container h2{
      font-size: 24px;
    }

    #discover .container p, #aboutus-container p {
      font-size: 17px;
    }

    .carousel{
      perspective: 550px;
      -webkit-perspective: 550px;
    }

    .carousel .carousel-item{
      width: 200px;
      height: 200px;
    }

    #discover .card{
      min-width: auto;
      max-width: fit-content;
      margin-left: 0px;
    }

    #discover .card-image{
      width: 200px;
    }

    #discover .card-image img{
      max-width: 200px;
      height: 150px;
    }

    #discover .card-title{
      font-size: 22px;
    }

    #discover .card-content{
      padding: 20px;
    }

    #discover .card-content p{
      font-size: 15px;
    }

    #registration{
      min-height: 440px;
    }
    
    /* envelope */
    .envelope{
      width:400px;
      height:200px;
    }
    .envelope:before{
      border-left:400px solid transparent;
      border-bottom:200px solid #4db6ac;
    }
    .envelope:after{
      border-right:400px solid transparent;
      border-bottom:200px solid #4db6ac;
    }
    .back{
      border-top:100px solid #4db6ac;
      border-left:200px solid transparent;
      border-right:200px solid transparent;
    }
    .letter{
      width:350px;
      height:100px;
    }
    
    .envelope:hover .letter, .letter-open{
      height: fit-content;
      width: 350px;
      left: 0%!important;
      transform: translateX(0%)!important;
    }
    /* end of envelope */

    #complete-form{
      padding: 3px 8px;
      font-size: 18px;
    }

    .page-heading h1{
      font-size: 25px;
    }

    #profile-left i{
      font-size: 24px;
    }

    #profile-row p, #profile-row span {
      font-size: 16px;
    }

    #profile-left>div{
      height: 280px;
    }
  
    #profile-left>div>div{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .profile-picture{
      width: 60%;
    }

    fieldset h3{
      font-size: 20px;
    }

    #card-container .card{
      width: auto;
      max-width: 300px;
    }

  }

  @media only screen and (min-width: 992px) {

    .nav-left, .nav-right{
      margin: 0px;
    }

    nav ul a {
      padding: 0 15px;
    }

    .nav-text{
      font-size: 17px;
    }

    #home{
      height: 40vw;
      min-height: 350px;
      max-height: 600px;
    }
    
    #home-container .row {
      display: flex;
      align-items: center;
    }

    #home-logo{
      width: 60%;
      max-width: 450px;
    }

    #home-heading h1{
      font-size: 30px;
      padding: 0;
    }

    #register-button-1, #login-container .btn{
      font-size: 21px;
    }

    #registration p, #login-container p{
      font-size: 14px;
    }

    .fa-user-check, .fa-handshake, .fa-pen-fancy, .fa-mail-bulk{
      font-size: 50px;
    }

    #letters-img-container{
      line-height: 320px;
    }

    #letters-img{
      width: 45%;
      max-width: 400px;
    }

    #discover h2, #aboutus-container h2{
      font-size: 29px;
    }

    #discover .container p, #aboutus-container p {
      font-size: 19px;
    }

    .carousel .carousel-item{
      width: 220px;
      height:300px;
    }

    #discover .card{
      width: inherit;
      height: inherit;
    }

    #disocver .card-title {
      font-size: 24px;
      line-height: 25px;
    }

    #discover .card-content p{
      font-size: 18px;
    }

    #discover .card-image img{
      max-width: 170px;
      height: 150px;
    }

    #registration{
      min-height: 500px;
    }

    /* envelope */
    .envelope{
      width:500px;
      height:300px;
    }
    .envelope:before{
      border-left:500px solid transparent;
      border-bottom:300px solid #4db6ac;
    }
    .envelope:after{
      border-right:500px solid transparent;
      border-bottom:300px solid #4db6ac;
    }
    .back{
      border-top:140px solid #4db6ac;
      border-left:250px solid transparent;
      border-right:250px solid transparent;
    }
    .letter{
      width:420px;
      height:200px;
    }
    
    .envelope:hover .letter, .letter-open{
      height:430px;
      width: 420px;
      left: 0%!important;
      transform: translateX(0%)!important;
    }
    /* end of envelope */

    .form-page label {
      font-size: 16px;
    }

    input[type=text]:not(.browser-default), textarea.materialize-textarea{
      font-size: 15px;
    }

    #login-image{
      width: 100%;
      max-width: 320px;
    }

    #login-form{
      max-width: 420px;
    }

    .page-heading h1{
      font-size: 50px;
    }

    #profile-row p, #profile-row span {
      font-size: 16px;
    }

    #profile-left i{
      font-size: 20px;
    }

    #profile-left>div{
      height: auto;
    }
  
    #profile-left>div>div{
      position: static;
      transform: translateY(0);
    }

    .profile-picture{
      width: 55%;
      max-width: 300px;
    }

    .pagination li{
      font-size: 28px;
    }

  }

  @media only screen and (min-width: 1200px){

    .nav-text{
      font-size: 19px;
    }

    #home{
      height: 35vw;
      min-height: 400px;
    }

    fieldset h3{
      font-size: 23px;
    }

  }