{% extends "base.html" %}
{% block content %}
    <!--Home Page-->
    <section id="home">
        <div class="container" id="home-container">
            <div class="row">
                <!--Logo (large size)-->
                <div class="col s12 l6">
                    <img src="./static/images/hp-logo.png" alt="Hungry Postbox logo" id="home-logo">
                </div>
                <!--Heading and CTA button-->
                <div class="col s12 l6" id="home-heading">
                    <h1 class="flow-text">Connect with people across the globe through handwritten letters.</h1><br>
                    <a href="#" id="register-button-1" class="hvr-grow-shadow register-buttons">Register now!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- About section-->
    <section id="about">
        <!--4 steps on how to use the site-->
        <div class="row" id="instructions-row">
            <div class="col s12 m3">
                <!-- Step 1-->
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-user-check"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Register your account</span>
                    </div>
                </div>
            </div>
            <!-- Step 2-->
            <div class="col s12 m3">
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Find a pen pal</span>
                    </div>
                </div>
            </div>
            <!-- Step 3-->
            <div class="col s12 m3">
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-pen-fancy"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Write your letter</span>
                    </div>
                </div>
            </div>
            <!-- Step 4-->
            <div class="col s12 m3">
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-mail-bulk"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Wait for a reply in the post</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us-->
        <div class="row" id="about-row">
            <!-- Image -->
            <div class="col s12 m5" id="letters-img-container">
                <img src="./static/images/letters.png" alt="stack of envelopes" id="letters-img">
            </div>
            <!-- About us Content-->
            <div class="col s12 m7" id="aboutus-container">
                <h2>About Us</h2>
                <p>
                    Bacon ipsum dolor amet pork belly short loin pastrami kevin brisket strip steak swine short ribs pork loin. Turkey beef
                    ribs sirloin, chislic spare ribs burgdoggen filet mignon swine jerky tri-tip landjaeger. Venison buffalo prosciutto
                    t-bone ham hock andouille shank leberkas pork loin pastrami turkey. Tri-tip shoulder short ribs pork, prosciutto jowl
                    pancetta pig burgdoggen venison drumstick. Bresaola venison cow picanha landjaeger short ribs. Sirloin corned beef
                    turkey, bacon flank pancetta burgdoggen. Shoulder boudin jowl pancetta.
                </p>
            </div>
        </div>
    </section>
    <!-- Discover section-->
    <section id="discover">
        <div>
            <!-- User profile carousel -->
            <div class="carousel"> <!-- Carousel and car templates from Materialize -->
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-image">
                          <img src="https://img2.thejournal.ie/inline/1881369/original/?width=630&version=1881369"> 
                        </div>
                        <div class="card-content">
                            <span class="card-title">User name</span>
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                This is where "About you" info will go.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-image">
                          <img src="https://img2.thejournal.ie/inline/1881369/original/?width=630&version=1881369"> 
                        </div>
                        <div class="card-content">
                            <span class="card-title">User name</span>
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                This is where "About you" info will go.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://img2.thejournal.ie/inline/1881369/original/?width=630&version=1881369">
                        </div>
                        <div class="card-content">
                            <span class="card-title">User name</span>
                            <p>
                                I am a very simple card. I am good at containing small bits of information.
                                This is where "About you" info will go.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
            <div class="container">
                <h2>Discover interesting people and exchange stories</h2>
                <p>By registering an account, you'll be able to view all our members.</p>
                <a href="#" id="register-button-2" class="hvr-grow-shadow register-buttons">Register now!</a>
            </div>
        </div>
    </section>
{% endblock %}