{% extends "base.html" %}
{% block content %}
    <!--Home Page-->
    <section id="home">
        <div class="container" id="home-container">
            <div class="row">
                <!--Logo (large size)-->
                <div class="col s12 l6">
                    <img src="./static/images/hp-logo.png" alt="Hungry Postbox logo" id="home-logo">
                </div>
                <!--Heading and CTA button-->
                <div class="col s12 l6" id="home-heading">
                     <!-- flash messages displayed here-->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="row">
                                    <h4 class="flash">{{ message }}</h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <h1>Connect with people across the globe through handwritten letters.</h1><br>
                    {% if session.user %}
                        <a href="{{ url_for('members') }}" class="hvr-grow-shadow register-buttons">Find a PenPal</a>
                    {% else %}
                        <a href="{{ url_for('register') }}" id="register-button-1" class="hvr-grow-shadow register-buttons">Register now!</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- About section-->
    <section id="about">
        <!--4 steps on how to use the site-->
        <div class="row" id="instructions-row">
            <div class="col s12 m3">
                <!-- Step 1-->
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-user-check"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Register your account</span>
                    </div>
                </div>
            </div>
            <!-- Step 2-->
            <div class="col s12 m3">
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Find a pen pal</span>
                    </div>
                </div>
            </div>
            <!-- Step 3-->
            <div class="col s12 m3">
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-pen-fancy"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Write your letter</span>
                    </div>
                </div>
            </div>
            <!-- Step 4-->
            <div class="col s12 m3">
                <div class="row">
                    <div class="col s6 m12">
                        <i class="fas fa-mail-bulk"></i>
                    </div>
                    <div class="col s6 m12">
                        <span class="flow-text">Wait for a reply in the post</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us-->
        <div class="row" id="about-row">
            <!-- Image -->
            <div class="col s12 l5" id="letters-img-container">
                <img src="./static/images/letters.png" alt="stack of envelopes" id="letters-img">
            </div>
            <!-- About us Content-->
            <div class="col s12 l7" id="aboutus-container">
                <h2>About Us</h2>
                <p>
                    We created this website for people who are fed up with their usual social media sites and want
                    to have a real connection with people all over the world. No spell-check or emojis included.
                    Experienced users may practice caligraphy and seal their envelopes with wax and a vintage stamp
                    but all you really need is a pen, paper, envelope, stamp and most importantly a willing recipient
                    (that's where we come in). <br>Hungry Postbox is here to ensure your postbox is filled with delicious,
                    wholesome letters that keep you connected with the offline world.
                </p>
            </div>
        </div>
    </section>
    <!-- Discover section-->
    <section id="discover">
        <div>
            <!-- User profile carousel -->
            <div class="carousel"> <!-- Carousel and car templates from Materialize -->
                {% for member in random_members %} 
                <div class="carousel-item">
                    <div class="card">
                        <div class="card-image">
                            {% if member.picture == "" %} <!-- Adds default image if member picture is blank-->
                                <img src="../static/images/default-profile-pic.png">
                            {% else %} <!-- If member has uploaded a picture then that will be displayed-->
                                <img src="{{ member.picture }}">
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ member.username|capitalize }}<span>
                            <p>
                                {{ calculate_age(member.dob) }},<br> {{ member.gender|upper}}, {{member.country}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Call to action-->
            <div class="container">
                <h2>Discover interesting people and exchange stories</h2>
                {% if session.user %}
                    <a href="{{ url_for('members') }}" class="hvr-grow-shadow register-buttons">Find a PenPal</a>
                {% else %}
                    <p>By registering an account, you'll be able to view all our members.</p>
                    <a href="{{ url_for('register') }}" id="register-button-2" class="hvr-grow-shadow register-buttons">Register now!</a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}