{% extends "base.html" %}
{% block content %} 

<section id="registration">
    <div class="envelope" onmouseover="remainOpen()"> <!-- form container-->
        <div class="back"></div> <!-- open envelope flap shape-->
        <div class="row"> 
            <!--Multi-step form (base code sourced from w3schools and modified(see README))-->
            <form id="regForm" class="letter">
                <!-- Form page 1-->
                <div class="form-page">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="JohnDoe123" id="username" type="text" class="validate" minlength="5" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="johndoe@email.com" id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Must be between 8-20 characters" id="password" type="password" class="validate"
                             minlength="5" maxlength="20" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                </div>
                <!-- Form page 2-->
                <div class="form-page">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="dob" type="text" class="datepicker" required>
                            <label for="dob">Date of Birth</label>
                        </div>
                        <div class="col s6" id="gender-input">
                            <label for="male">
                                <input name="gender" type="radio" value="m" id="male" checked>
                                <span>Male</span>
                            </label>
                            <label for="female">
                                <input name="gender" type="radio" value="f" id="female">
                                <span>Female</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Irish" minlength="3" maxlength="20" id="nationality" type="text" class="validate" required>
                            <label for="nationality">Nationality</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Ireland" minlength="3" maxlength="20" id="country" type="text" class="validate" required>
                            <label for="country">Country of residence</label>
                        </div>
                    </div>
                </div>
                <!-- Form page 3-->
                <div class="form-page">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="about-me" class="materialize-textarea" maxlength="600" placeholder="Interests, hobbies, personality"></textarea>
                            <label for="about-me">About Me</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="looking-for" maxlength="600" class="materialize-textarea" placeholder="Detail the qualities of your ideal pen pal"></textarea>
                            <label for="looking-for">I'm looking for:</label>
                        </div>
                    </div>
                </div>
                <!-- Prev/Next buttons -->
                <div id="form-button-container">
                      <button type="button" id="prevBtn" onclick="nextPrev(-1)"><i class="fas fa-chevron-circle-left"></i></button>
                      <button type="button" id="nextBtn" onclick="nextPrev(1)"><i class="fas fa-chevron-circle-right"></i></button>
                  </div>
                <!-- Indicator icons -->
                <div id="indicator-container">
                    <i class="indicator fas fa-circle"></i>
                    <i class="indicator fas fa-circle"></i>
                    <i class="indicator fas fa-circle"></i>
                  </div>
            </form>
        </div>
    </div>
</section>

{% endblock %} 